h1 {
color: lightgray;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
color: gray;
}
h5 {
color: darkgray;
}

.btn-primary {
color: gray;
background-color: #168425;
border-radius: 12px;
border: none;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

.btn-danger {
color: white;
background-color: #ff0000;
border-radius: 12px;
border: none;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}
