h1 {
color: lightgray;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
color: gray;
}
h5 {
color: darkgray;
}

.btn-primary {
color: white;
background-color: #168425;
}

.btn-danger {
color: white;
background-color: #ff0000;
}

.btn-info {
  color: white;
  background-color: #a23bd6;
}

.input-pr {
    -webkit-transition: 0.9s ease-in-out;
    border: none;
    border-bottom: 4px solid #168425;
    font-size: 20px;
    outline: none;
  }

.btn-primary, .btn-danger, .btn-info {
  -webkit-transition-duration: 0.4s;
  border: none;
  padding: 6px 10px;
  margin: 3px;
  border-radius: 5px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
